.hero-section {
	background-image: url('../images/bg-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* height: 90vh; */
	padding-top: 5%;
}
.top-row {
	width: 75%;
	/* margin-top: 10%; */
}
.html-icon {
	font-size: 5rem;
	color: rgb(218, 205, 230);
}
.html-icon:hover {
	font-size: 6rem;
	color: rgb(240, 119, 6);
}
.css-icon {
	font-size: 5rem;
	color: rgb(218, 205, 230);
}
.css-icon:hover {
	font-size: 6rem;
	color: rgb(0, 99, 247);
}
.bootstrap-icon {
	font-size: 5rem;
	color: rgb(218, 205, 230);
}
.bootstrap-icon:hover {
	font-size: 6rem;
	color: rgb(153, 0, 255);
}

.react-icon {
	font-size: 5rem;
	color: rgb(218, 205, 230);
}
.react-icon:hover {
	font-size: 6rem;
	color: rgb(0, 167, 233);
}
/* .image-section {
	position: absolute;
	top: 30%;
	left: auto;
}
*/
.icons-section {
	border-radius: 25px;
	border: 2px solid white;
	max-width: 600px;
	width: 100%;
	height: 7rem;
	/* margin: 40px auto; */
	box-sizing: border-box;
}
.black-shadow {
	text-shadow: 2px 2px 5px black;
}
/* .main-heading,
.pera-text {
	text-shadow: 2px 2px 5px black;
} */
.custom-bg {
	background-color: rgb(11, 11, 53);
}
.custom-btn {
	color: white;
	background-color: rgb(11, 11, 53);
	border: 1px solid white;
}
.custom-btn:hover {
	background-color: white;
	color: rgb(11, 11, 53);
	border: 1px solid rgb(11, 11, 53);
}

.primary-btn {
	background-color: white;
	color: rgb(11, 11, 53);
	border: 1px solid rgb(11, 11, 53);
}
.primary-btn:hover {
	color: white;
	background-color: rgb(11, 11, 53);
	border: 1px solid white;
}
.resume-btn {
	background-color: rgb(11, 11, 53);
}
.resume-btn:hover {
	background-color: white;
	color: rgb(11, 11, 53);
	/* font-size: 1.25rem; */
}
/* .edu-section {
	background-color: rgb(20, 20, 80);
} */
.about-main {
	background-image: url('../images/bg-1.jpg');
}
